.mobile-menu.is-open {
  transform: translateX(0);
}
.menu-toggleicon {
  stroke: currentColor;
}
.menu-toggle.js-open-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 22px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}
.menu-toggle.js-close-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid var(--color-black);
  border-radius: 50%;
  background-color: var(--color-black);
  color: var(--color-white);
  transition: background-color 250ms linear, border 250ms linear;
  z-index: 6;
}
.mobile-iconclose {
  fill: currentColor;
  transition: fill 250ms linear;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px 0 40px 40px;
  background-color: var(--color-white);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: transform 250ms linear;
  transform: translateX(100%);
}
.mobile-menu .header-list {
  display: flex;
  flex-direction: column;
}
.mobile-menu .header-link {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-black);
}
.mobile-menu .address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu .address-link {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.11;
  color: var(--color-orange);
}
.mobile-menu .address {
  margin-top: 120px;
}
.mobile-menu .mobile-active {
  color: var(--color-orange);
}
