/*------------adding--------------*/
@import url("./pages.css");
@import url("./items.css");
:root {
  --font-family: "Rubik", sans-serif;
  --color-black: #1e1e1e;
  --color-blackopacity0: rgba(30, 30, 30, 0);
  --color-white: #ededed;
  --color-gray: #c3c3c3;
  --color-orange: #ec6726;
  --box-shadow: 4px 4px 4px var(--color-gray);
}
body {
  font-family: var(--font-family);
  font-size: 16px;
  font-family: var(--font-family);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/*-----------reset---------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.link {
  text-decoration: none;
}
/*-----------header----------*/
.header {
  padding: 16px 0;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray);
  box-shadow: var(--box-shadow);
}
.container-header {
  display: flex;
}
.nav {
  display: flex;
  gap: 80px;
  align-items: center;
}
.logo-link {
  width: 200px;
  transition: transform 250ms linear;
}
.logo-link:hover,
.logo-link:focus {
  transform: scale(1.1);
}
.header-list {
  display: flex;
  gap: 50px;
}
.header-link {
  color: var(--color-black);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  transition: color 250ms linear;
}
.header-link:hover,
.header-link:focus,
.address-link:hover,
.address-link:focus,
.page-active,
.contacts .address-link:hover,
.contacts .address-link:focus,
.catalog-item:hover .catalog-boxtitle,
.catalog-item:focus .catalog-boxtitle,
.catalog-overlaylink:hover,
.catalog-overlaylink:focus {
  color: var(--color-orange);
}
.address {
  margin-left: 80px;
  font-style: normal;
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.address-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-black);
  transition: color 250ms linear;
}
.euro {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 80px;
}
.euro::after {
  position: absolute;
  content: "41.0";
  font-size: 22px;
  font-weight: 700;
  top: 21%;
  left: 100%;
}
/*-------------------------------------hero --*/
.main,
.price-main,
.contacts-main,
.goods-main,
.pages-main {
  flex: 1;
}
.hero {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  background-color: var(--color-black);
  background-image: url(../images/hero-wabis.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
  padding-top: 200px;
  box-shadow: var(--box-shadow);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    110deg,
    var(--color-white),
    var(--color-blackopacity0)
  );
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 120%;
  animation: gradient 15s infinite linear;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  90% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hero-title {
  font-size: 41px;
  text-align: center;
  color: var(--color-white);
  line-height: 81px;
}
/*-------------------------------------wabis-group --*/
.wabis-group {
  width: 1440px;
  height: 970px;
  margin: 0 auto;
  background-color: var(--color-white);
  background-image: url(../images/wabis-group.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
/*-----------footer----------*/
.footer {
  padding: 16px 0;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-gray);
  align-items: center;
  flex-shrink: 0;
}
.container-footer {
  display: flex;
  gap: 80px;
  justify-content: space-between;
}
.footer-wabistext {
  width: 600px;
  font-weight: 500;
}
.footer-storage {
  display: flex;
  gap: 10px;
}
.footer-storageicon {
  stroke: var(--color-black);
  width: 100%;
  margin-left: auto;
  transition: transform 250ms linear, stroke 250ms linear;
}
.footer-storageicon:hover,
.footer-storageicon:focus {
  transform: scale(1.3);
  stroke: var(--color-orange);
}
.footer-storagetext {
  width: 300px;
  font-weight: 500;
}
/*-------------------------------------goods --*/
.goods-main {
  background-color: var(--color-black);
}
.catalog .container {
  background-color: var(--color-gray);
  padding: 60px 15px;
  height: 1270px;
}
.catalog-title {
  display: block;
  color: var(--color-black);
  margin-bottom: 70px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: space-between;
}
.catalog-item {
  flex-basis: calc((100% - 96px) / 3);
  box-shadow: 2px 2px 4px var(--color-black);
  object-fit: cover;
}
.catalog-box {
  padding: 20px 10px;
  background-color: var(--color-white);
}
.catalog-boxtitle {
  text-align: center;
  font-size: 20px;
  color: var(--color-black);
  font-weight: 700;
  transition: color 250ms linear;
}
.catalog-overlay {
  position: relative;
  overflow: hidden;
  height: 235px;
}
.catalog-overlaylist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: absolute;
  top: 0%;
  width: 344px;
  height: 240px;
  padding: 10px;
  transition: transform 250ms linear;
  transform: translateY(-100%);
  background-color: var(--color-gray);
}

.catalog-item:hover .catalog-overlaylist,
.catalog-item:focus .catalog-overlaylist {
  transform: translateY(0%);
}
.catalog-overlaylink {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-black);
  transition: color 250ms linear;
  letter-spacing: 0.04em;
}
/*-------------------------------------price --*/
.price-main {
  background-color: var(--color-gray);
}
.price {
  padding: 50px 0;
}
.price-title,
.catalog-title {
  text-align: center;
  font-size: 30px;
  color: var(--color-black);
  font-weight: 500;
  margin-bottom: 50px;
}

.price-button {
  width: 30%;
  transition: background-color 250ms linear, color 250ms linear,
    box-shadow 250ms linear, transform 250ms ease-in;
  padding: 10px 20px;
  text-align: center;
  margin: 0 auto;
  display: block;
  box-shadow: 2px 2px 4px var(--color-black);
  transform: scale(1);
  color: var(--color-black);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
}
.price-button:hover,
.price-button:focus {
  background-color: var(--color-orange);
}
.price-button:active {
  box-shadow: none;
  transform: scale(0.95);
}
.price-button:hover,
.price-button:focus {
  color: var(--color-white);
}
.zoomer {
  background-position: 100% 100%;
  position: relative;
  width: 1158px;
  overflow: hidden;
  cursor: zoom-in;
  margin-bottom: 50px;
}

.zoomer img:hover {
  opacity: 0;
}

.zoomer img {
  transition: opacity 0.5s;
  display: block;
  width: 100%;
}
/*-------------------------------------contacts --*/
.contacts-main {
  background-color: var(--color-black);
}
.contacts {
  position: relative;
  background-color: var(--color-black);
  background-image: url(../images/contacts.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1158px;
  height: 800px;
  margin: 0 auto;
  padding: 50px 0;
}
.contacts-title {
  text-align: center;
  font-size: 30px;
  color: var(--color-white);
  font-weight: 500;
}
.contacts-list {
  position: absolute;
  top: 25%;
  left: 32%;
  font-weight: 500;
  color: var(--color-black);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.contacts .address-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px;
}
.contacts .address-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-black);
  transition: color 250ms linear;
  letter-spacing: 0.001em;
}
.contacts .contacts-list::after {
  content: "";
  top: 75%;
  right: 2%;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-gray);
}
.address-list p {
  margin-top: -10px;
}
