/*------------adding--------------*/
:root {
  --font-family: "Rubik", sans-serif;
  --color-black: #1e1e1e;
  --color-blackopacity0: rgba(30, 30, 30, 0);
  --color-white: #ededed;
  --color-gray: #c3c3c3;
  --color-orange: #ec6726;
  --box-shadow: 4px 4px 4px var(--color-gray);
}
body {
  font-family: var(--font-family);
  font-size: 16px;
  font-family: var(--font-family);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-black);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/*-----------reset---------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.link {
  text-decoration: none;
}
/*-----------header----------*/
.header {
  padding: 30px 0;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray);
  box-shadow: var(--box-shadow);
}
.container-header {
  display: flex;
}
.nav {
  display: flex;
  gap: 100px;
  align-items: center;
}
.logo-link {
  width: 200px;
  transition: transform 250ms linear;
}
.logo-link:hover,
.logo-link:focus {
  transform: scale(1.1);
}
.header-list {
  display: flex;
  gap: 60px;
}
.header-link {
  padding: 30px 0;
  color: var(--color-black);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  transition: color 250ms linear;
}
.header-link:hover,
.header-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--color-orange);
}
.address {
  margin-left: 100px;
  font-style: normal;
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.address-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-black);
  transition: color 250ms linear;
}
.euro {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.euro::after {
  position: absolute;
  content: "41.0";
  font-size: 22px;
  font-weight: 700;
  top: 21%;
  left: 100%;
}
/*-------------------------------------hero --*/
.hero {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  background-color: var(--color-black);
  background-image: url(../images/hero-wabis.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 1440px;
  height: 300px;
  padding-top: 200px;
  box-shadow: var(--box-shadow);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    110deg,
    var(--color-white),
    var(--color-blackopacity0)
  );
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 120%;
  animation: gradient 15s infinite linear;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  90% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hero-title {
  margin: 0 auto;
  font-size: 41px;
  text-align: center;
  color: var(--color-white);
  line-height: 81px;
}
/*-------------------------------------wabis-group --*/
.wabis-group {
  width: 1440px;
  height: 972px;
  margin: 0 auto;
  background-color: var(--color-white);
  background-image: url(../images/wabis-group.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
/*-----------footer----------*/
.footer {
  padding: 30px 0;
  background-color: var(--color-white);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--color-gray);
  align-items: center;
}
.container-footer {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  width: 1158px;
}
.footer-wabistext {
  width: 600px;
  font-weight: 500;
}
.footer-storage {
  display: flex;
}
.footer-storageicon {
  stroke: var(--color-black);
  width: 30%;
  margin-left: auto;
  transition: transform 250ms linear, stroke 250ms linear;
}
.footer-storageicon:hover,
.footer-storageicon:focus {
  transform: scale(1.3);
  stroke: var(--color-orange);
}
.footer-storagetext {
  width: 300px;
  font-weight: 500;
}
